/* CSS crunched with Crunch - http://crunchapp.net/ */
#masthead{float:left;width:870px;margin-right:0;margin-bottom:1.5em;padding-left:40px;padding-right:40px;}#masthead header{float:left;width:310px;margin-right:10px;}
.nav-ul{margin-top:1.5em;list-style-type:none;}
#nav-main{float:left;width:350px;margin-right:10px;}#nav-main ul{margin-top:1.5em;list-style-type:none;}#nav-main ul li{float:left;margin:0 24px 0 0;padding:0;}
#nav-social{float:left;width:190px;margin-right:0;}#nav-social ul{margin-top:1.5em;list-style-type:none;}#nav-social ul li{float:left;margin:0 6px 0 0;padding:0;}
#container{width:950px;margin:0 auto;}
#content{float:left;margin-right:0;}
#column-1{float:left;width:590px;margin-right:10px;padding-left:40px;padding-right:40px;}
#column-2{float:left;width:270px;margin-right:0px;}
#splash{width:960px;margin-right:0;}
#music-index{float:left;width:870px;margin-right:0;padding-left:40px;padding-right:40px;}
.inline-list{list-style-type:none;}.inline-list li{display:inline;margin:0 12px 0 0;padding:0;}
.inline-list li:before{content:"» ";}
.bg{position:fixed;top:0;right:0;width:60%;z-index:-1;opacity:0.1;filter:alpha(opacity=10);}
input[type=text],input[type=email],input[type=password],select,textarea{font-size:100%;font-family:inherit;border:1px solid #BBB;border-radius:4px;padding:3px;}
table.track-table{border:1px dotted #402c29;border-collapse:collapse;}table.track-table thead th{border:1px dotted #999;font-size:7pt;color:#FFF;background-color:#333;}
table.track-table tbody tr:nth-child(2n) td{background-color:#cbcbcb;}
table.track-table tbody td{border:1px dotted #999;}
table.track-table tbody td.track-column{width:50px;}
table.track-table tbody td.play-column{width:20px;}
ul.album-list{margin-left:0px;}ul.album-list li{display:inline;}
