/* CSS crunched with Crunch - http://crunchapp.net/ */
h1,h2,h3,h4,h5,h6{font-family:Helvetica,Arial,sans-serif;}
#title{font-family:'Lucida Sans Unicode',Arial,Helvetica,sans-serif;text-transform:lowercase;}#title a{text-decoration:none;color:#000;}
#content{font-family:'Georgia',serif;}
table.track-table{font-family:'Helvetica','Arial',sans-serif;}
.smaller{font-size:smaller;}
.submitted{font-style:italic;}
